{% extends 'base.html' %}

{% block title %}Start{% endblock %}

{% block content %}
    <div class="container-sm textr-center">
        <h1 class="display-3">Welcome to the List of Tasks</h1>

        <p class="lead"> Here you will keep track of your upcoming tasks </p>

        <hr class="my-4">

        <p> Do you already have an account?</p>

        <div class="d-flex justify-content-center">
            <a href="" class="btn btn-primary mx-2">Login</a>
            <a href="" class="btn btn-secondary mx-2">Register</a>
        </div>
    </div>

{% endblock %}